.rtitle{
    font-size:18px;
    font-weight:bold;
    padding:5px 10px;
    background:#336699;
    color:#fff;
}
.pull-right {
    float: right;
}
 
#fm{
    margin:0;
    padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:80px;
}
.fitem input{
    width:160px;
}
.pic{
    opacity:1;
}
.pic:hover{
    opacity:0.7;
    filter:alpha(opacity=30);
}
.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
.text-center {
  text-align: center;
}
.muted {
  color: #999999;
}
